.sidebar {
    display: none;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    background: #fff;

    span {
        opacity: 0;
        width: 0;
        pointer-events: none;
    }

    @media (min-width:778px) {
        display: flex;
        position: sticky;
        top: 0px;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        height: calc(100vh);
        border: none;
        justify-content: flex-start;
        gap: 30px;

        span {
            margin-left: 2px;
            cursor: pointer;
        }
    }

    a {
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}