.verticalChart {
    // border: red 1px solid;
}

.barChart {
    // border: red 1px solid;


}

.charts {
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    @media (min-width:778px) {
        flex-direction: row;
        justify-content: space-around;
    }

    .chart {
        width: 90%;
    }

    .expenses {
        border-radius: 4px;
        width: 200px;
        background-color: #edf5ef;
        margin-bottom: 25px;
        padding: 10px;
        box-shadow: 5px 5px 5px 0px lightgray;

        h3 {
            font-size: 14px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .total-expenses-tag {
        .expenses.red {
            color: #FF8042;
        }

        .expenses.green {
            color: #00C49F;
        }
    }
}