.expense-filter {
    box-sizing: border-box;
    margin: 20px 0;
    margin-left: 10px;
    display: flex;
    gap: 20px;
    color: #000000a2;

    .expense-filter__control {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
            font-size: 11px;
        }

        select {
            border: none;
            border-bottom: solid 1px;
            min-width: 60px;
        }
    }

    #dateSubmit {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 14px;
        right: 6px;
        height: 19px;
        width: 23px;
        border: none;
        background: none;
        background-color: #85bb65;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        span {
            position: relative;
            top: 2px;
        }
    }

    h2 {
        position: absolute;
        right: 20px;
        top: 130px;
        color: rgb(225, 79, 79);
        font-size: 18px;
    }

    @media (min-width:778px) {
        h2 {
            font-size: 24px;
            position: absolute;
            right: 20px;
            top: 70px;
        }
    }
}